[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "crosswalkr"]
	path = crosswalkr
	url = https://github.com/btskinner/crosswalkr
	shallow = true
	registered = true
[submodule "rscorecard"]
	path = rscorecard
	url = https://github.com/btskinner/rscorecard
	shallow = true
	registered = true
