[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "crosswalkr"]
	path = crosswalkr
	url = https://github.com/btskinner/crosswalkr
[submodule "duawranglr"]
	path = duawranglr
	url = https://github.com/btskinner/duawranglr
[submodule "rscorecard"]
	path = rscorecard
	url = https://github.com/btskinner/rscorecard
